<!DOCTYPE html>
<html>
<head>
    <title>Создание нового клиента</title>
</head>
<body>
    <div>
        <h1>Регистрация нового клиента</h1>

        {% for message in app.flashes('error') %}
            <div class="alert alert-error">{{ message }}</div>
        {% endfor %}
        
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {{ form_start(form) }}
            <div >
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </div>
            
            <div >
                {{ form_label(form.phoneNumber) }}
                {{ form_widget(form.phoneNumber) }}
                {{ form_errors(form.phoneNumber) }}
            </div>
            
            <div>
                {{ form_label(form.plainPassword) }}
                {{ form_widget(form.plainPassword) }}
                {{ form_errors(form.plainPassword) }}
            </div>
            
            <button type="submit">Зарегистрироваться</button>
        {{ form_end(form) }}

        <p>
            Если уже есть аккаунт <a href="{{ path('app_login') }}">Войти</a>
        </p>
    </div>
</body>
</html>