<!DOCTYPE html>
<html>
<head>
    <title>Создание заказа</title>
</head>
<body>
    <div>
        <h1>Создание нового заказа</h1>
        
        <a href="{{ path('order_list') }}">← Назад к списку</a>
        
        {% for message in app.flashes('error') %}
            <div>{{ message }}</div>
        {% endfor %}
        
        <form method="post">
            
            <div>
                <label for="client">Клиент</label>
                <select id="client" name="client" required>
                    <option value="">Выберите клиента</option>
                    {% for client in clients %}
                        <option value="{{ client.id }}">{{ client.name }} ({{ client.phoneNumber }})</option>
                    {% endfor %}
                </select>
            </div>
            
            <div>
                <label>Блюда</label>
                <div>
                    {% for dish in dishes %}
                        <div>
                            <input type="checkbox" name="dishes[]" value="{{ dish.id }}" id="dish{{ dish.id }}">
                            <label for="dish{{ dish.id }}">
                                {{ dish.name }} - {{ dish.price }} руб.
                            </label>
                        </div>
                    {% else %}  
                        <div >Нет доступных блюд</div>
                    {% endfor %}
                </div>
                
            </div>
            
            <button type="submit">Создать заказ</button>
        </form>
    </div>
</body>
</html>