<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Заказ {{ order.id }}</h1>
        
        <a href="{{ path('app_order_index') }}" >Назад</a>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        

        <div>
            <div>
                <h5>Информация о клиенте</h5>
                <p><strong>Имя:</strong> {{ order.client.name }}</p>
                <p><strong>Телефон:</strong> {{ order.client.phoneNumber }}</p>
            </div>
        </div>
        
       
        <div>
            <div>
                <h5>Состав заказа</h5>
                <table>
                    <thead>
                        <tr>
                            <th>Блюдо</th>
                            <th>Цена</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% set total = 0 %}
                        {% for dish in order.dish %}
                            <tr>
                                <td>{{ dish.name }}</td>
                                <td>{{ dish.price }} руб.</td>
                            </tr> 
                            {% set total = total + dish.price %}
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Общая стоимость:</th>
                            <th>{{ total }} руб.</th>
                        </tr>
                    </tfoot>
                </table>

                <div>

                 {% if order.filePath %}
            <img src="{{ asset(order.filePath) }}"  
                 style="max-width: 400px; max-height: 400px;">
            <br>
            <a href="{{ path('app_order_download', {'id': order.id}) }}">Скачать документ</a>
        {% else %}
            <div style="width: 400px; height: 400px; background: #ddd; display: flex; align-items: center; justify-content: center;">
                <span style="color: #999;">документ не загружен</span>
            </div>
        {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>